@using ClassLibrary1
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Studenten2</title>
</head>
<body>
    <h2>Studenten</h2>
    @foreach (Student student in ViewBag.Studenten)

        {
        <ul>
            <li>@student.Id</li>
            <li>@student.Naam</li>
            <li>@student.AfstudeerGraad</li>
        </ul>
    }

</body>
</html>
